# Env files
.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
.agents
skills-lock.json

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Python build files
build/
dist/
*.egg-info/

# Coverage (optional)
.coverage
htmlcov/